@media (min-width:60em)
{
    .themotto{
        font-size: 30px;
    }
    .article img {
        width: 300px;
        height: 300px;
    }
    .address img {
        width: 450px;
    }
    .contactinfo {
        height: 400px;
    }
    .info {
        max-width: 950px;
    }
    .large {
        position: absolute;
        top: 50px;
        left: 800px;
        font-size: 50px;
        color: red;
        display: block;
    }
    .medium {
        display: none;
    }
}